@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .backgroundColor {
      background-black: colors.black;
      background-white: colors.white;
      background-gray: colors.gray;
      background-red: colors.red;
      background-yellow: colors.yellow;
      background-green: colors.green;
      background-blue: colors.blue;
      background-indigo: colors.indigo;
      background-purple: colors.purple;
      background-pink: colors.pink;
  }
}